.pokemon-container {
  --background: #f9f9f9;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center; /* Centrar todo el contenido */
}

ion-searchbar {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 8px;
  padding-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pokemon-details {
  background: #fff;
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pokemon-header {
  margin-bottom: 20px;
}

.pokemon-header h2 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #333;
  font-weight: bold;
  margin: 10px 0;
}

.pokemon-header img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 3px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.pokemon-info {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  margin-top: 20px;
}

.pokemon-info h3 {
  font-size: 1.4rem;
  color: #007bff;
  margin-bottom: 10px;
}

.types,
.abilities,
.moves {
  margin-bottom: 15px;
}

.type-badge,
.ability-badge,
.move-badge {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.stat {
  margin: 15px 0;
}

.stat-name {
  font-weight: bold;
}

ion-progress-bar {
  margin-top: 10px;
  height: 15px; /* Aseguramos que la barra de progreso tenga una altura cómoda */
  border-radius: 5px;
}

.stat-value {
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}

.error-message {
  margin: 20px 0;
  text-align: center;
  color: red;
  font-weight: bold;
}

ion-spinner {
  display: block;
  margin: 30px auto;
}
