.pokemon-container {
  --background: #ffda05; /* Fondo claro similar al diseño */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: var(--background);
}

ion-toolbar {
  --background: #ff4800; /* Encabezado morado claro */
}

ion-searchbar {
  margin: 20px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  max-width: 400px;
}

button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button#filter-type {
  background-color: #f57c00; /* Botón naranja */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button#next {
  background-color: #f51818; /* Botón morado */
}

button:hover {
  opacity: 0.9;
}

.pokemon-details {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  margin: 20px auto;
  text-align: left;
}

.pokemon-header h2 {
  font-size: 2rem;
  color: #333;
  margin: 0 0 10px;
}

.pokemon-header img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.type-badge {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 15px;
  font-weight: bold;
  color: #000000;
}

.type-badge.fire {
  background-color: #f57c00;
}

.type-badge.flying {
  background-color: #7e57c2;
}

/* Similar estructura para las habilidades y movimientos */
.ability-badge, .move-badge {
  background-color: #4caf50; /* Verde claro */
  color: #fff;
}

/* Estadísticas */
.stat-name {
  color: #333;
  font-weight: bold;
}

ion-progress-bar {
  --progress-background: #e0e0e0;
  --progress-color: #4caf50; /* Verde claro para la barra de progreso */
  margin: 10px 0;
}
